.login-container{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    justify-content: center;
    align-items: center;

    background-color: aqua;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    background-color: azure;
}

.login-form{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.login-form-genero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

#masculino::after{
    display: flex;
    content: ".";
    color: transparent;
    border-radius: 100%;
    background-color: blue;
    position:relative;
    width: 100%;
    height: 100%;

}
#masculino:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}

/* #masculino */
#feminino{
    border: none;
}

#feminino::after{
    display: flex;
    box-sizing: border-box;
    content: ".";
    color: transparent;
    border-radius: 100%;
    background-color: pink;
    width: 100%;
    height: 100%;
}
#feminino:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}

#none::after{
    display: flex;
    content: ".";
    color: transparent;
    border-radius: 100%;
    background-color: grey;
    position:relative;
    width: 100%;
    height: 100%;
}
#none:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}